.movie-container {
   /* border: 1px solid green; */
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.movie-search-container input {
   width: 400px;
   height: 32px;
}

.movie-search-container button {
   height: 36px;
   width: 76px;
   background-color: black;
   color: white;
   border-style: none;
   border-radius: 5px;
   margin-left: 5px;
   box-shadow: 2px 2px 2px gray;
}

.movie-search-container button:hover {
   background-color: gray;
}

.movie-results-div {
   margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80vw;
   flex-wrap: wrap;
}

.movie-results-div img {
   width: 200px;
   height: 300px; 
}

.movie-info-div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 2px solid green;
   width: 300px;
   height: 350px;
}