.movie-detail-container {
   /* border: 2px solid red; */
   margin-top: 30px;
   margin-bottom: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.movie-detail-container h1 {
   font-size: 36px;
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 10px;
}

.movie-detail-container p {
   width: 400px;
   font-size: 18px;
   text-align: center;
}

.share-button-container {
   margin-top: 10px;
}

.share-button {
   height: 36px;
   width: 200px;
   background-color: black;
   color: white;
   border-style: none;
   border-radius: 5px;
   margin-left: 5px;
   box-shadow: 2px 2px 2px gray;
}

.share-button:hover {
   background-color: gray;
}

.movie-detail-container form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.movie-detail-container form > textarea {
   width: 200px;
   height: 100px;
   resize: none;
}

.movie-detail-container form > input {
   width: 200px;
}