nav {
   /* border: 2px solid green; */
   background-color: rgba(86, 133, 98, 0.774);;
   display: flex;
   align-items: center;
   height: 100px;
}

.h1-logo,
.right-side-nav {
   width: 50%;
   color: white;
   font-weight: bold;
}

.h1-logo h1 > a {
   margin-left: 20px;
   font-size: 36px;
   color: white;
   text-decoration: none;
}

.h1-logo h1 > a:hover {
   color: black;
}

.right-side-nav ul {
   display: flex;
   justify-content: flex-end;
}

.right-side-nav ul > li > a {
   margin-right: 20px;
   font-size: 18px;
   color: white;
   text-decoration: none;
}

.right-side-nav ul > li > a:hover {
   color: black;
}

.selected {
   border-bottom: 2px solid white;
}